/* GRID */

.grid-div {
    display: grid;
    width: 380px;
    height: 380px;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(15, 1fr);
    border: 2px solid #3a3a3a;
    margin: 10px;
    background-color: #ffffff;
  
  }
  
  .pixel {
    width: 100%;
    height: 100%;
    outline: 1px solid #9b9a9a;
  }
  .pixel:hover {
   background-color: #adadae;;
    cursor: pointer;
  }

/* Original Images style */
.White {
  background-color: #ffffff;
}

.Dark-purple {
  background-color: #565676;
}

.Light-purple {
  background-color: #aeadf0;
}

.Baby-blue {
  background-color: #63b0cd;
}

.Pink {
  background-color: #e9d2f4;
}

/* text color*/
.Dark-purple-text {
  color: #565676;
}

.Light-purple-text {
  color: #aeadf0;
}

.Baby-blue-text {
  color: #63b0cd;
}

.Pink-text {
  color: #e9d2f4;
}

/* 
  .pixel {
    width: 20px;
    height: 20px;
    outline: 1px solid black;
  }
  .pixel:hover {
   background-color: #525151;;
    cursor: pointer;
  }
*/




