/* GRID */

.grid-div {
    display: grid;
    width: 320px;
    height: 320px;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(15, 1fr);
    border: 2px solid #1a1a1a;
    
    background-color: #ffffff;
  
  }
  
  .pixel {
    width: 20px;
    height: 20px;
    outline: 1px solid black;
  }
  .pixel:hover {
   background-color: #525151;;
    cursor: pointer;
  }

/* Original Images style */
.colorZero{
  background-color: #ffffff;
}
.RED
{
  background-color: #ff0000;
}

.BLUE
{
  background-color: #1500ff;
}
  .GREEN
{
  background-color: #1eff00;
}
  .YELLOW
{
  background-color: #fff200;
}
/* 
  .pixel {
    width: 20px;
    height: 20px;
    outline: 1px solid black;
  }
  .pixel:hover {
   background-color: #525151;;
    cursor: pointer;
  }
*/