/* GRID */

.grid-div {
    display: grid;
    width: 320px;
    height: 320px;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(15, 1fr);
    border: 2px solid #1a1a1a;
    
    background-color: #ffffff;
  
  }
  
  .pixel {
    width: 20px;
    height: 20px;
    outline: 1px solid black;
  }
  .pixel:hover {
   background-color: #525151;;
    cursor: pointer;
  }

/* Original Images style */
.colorZero{
  background-color: #ffffff;
}
.colorOne
{
  background-color: #565676;
}

  .colorTwo
{
  background-color: #aeadf0;
}
  .colorThree
{
  background-color: #63b0cd;
}
  .colorFour 
{
  background-color: #e9d2f4;
}
/* 
  .pixel {
    width: 20px;
    height: 20px;
    outline: 1px solid black;
  }
  .pixel:hover {
   background-color: #525151;;
    cursor: pointer;
  }
*/