/* GRID */

.grid-div {
    display: grid;
    width: 380px;
    height: 380px;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(15, 1fr);
    border: 2px solid #3a3a3a;
    
    background-color: #ffffff;
  
  }
  
  .pixel {
    width: 100%;
    height: 100%;
    outline: 1px solid #9b9a9a;
  }
  .pixel:hover {
   background-color: #adadae;;
    cursor: pointer;
  }

/* Original Images style */
.colorZero {
  background-color: #ffffff;
}

.colorOne {
  background-color: #565676;
}

.colorTwo {
  background-color: #aeadf0;
}

.colorThree {
  background-color: #63b0cd;
}

.colorFour {
  background-color: #e9d2f4;
}

/* 
  .pixel {
    width: 20px;
    height: 20px;
    outline: 1px solid black;
  }
  .pixel:hover {
   background-color: #525151;;
    cursor: pointer;
  }
*/




